{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class='row'>
        <div class="col-lg-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="row">
                  <div class="col-5">
                    <div class="info-icon text-center icon-success">
                      <i class="tim-icons icon-molecule-40"></i>
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="numbers">
                      <p class="card-category">Total Bets</p>
                      <h3 class="card-title">{{ info.total }}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="row">
                  <div class="col-5">
                    <div class="info-icon text-center icon-primary">
                      <i class="tim-icons icon-molecule-40"></i>
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="numbers">
                      <p class="card-category">Opened Betss</p>
                      <h3 class="card-title">{{ info.open }}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="row">
                  <div class="col-5">
                    <div class="info-icon text-center icon-danger">
                      <i class="tim-icons icon-molecule-40"></i>
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="numbers">
                      <p class="card-category">Active Bets</p>
                      <h3 class="card-title">{{ info.active }}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="row">
                  <div class="col-5">
                    <div class="info-icon text-center icon-info">
                      <i class="tim-icons icon-molecule-40"></i>
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="numbers">
                      <p class="card-category">Deactive Bets</p>
                      <h3 class="card-title">{{ info.deactive }}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="row">
      <div class="col-md-4 ml-auto">
        <div class="card card-chart card-chart-pie">
          <div class="card-header">
            <h5 class="card-category">Bet Tie/UnTie</h5>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="BetChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mr-auto">
        <div class="card card-chart card-chart-pie">
          <div class="card-header">
            <h5 class="card-category">Winner/Loser</h5>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="BetUserChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mr-auto">
        <div class="card card-chart card-chart-pie">
          <div class="card-header">
            <h5 class="card-category">Bet Active/Passed/Deactive</h5>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="ActiveChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>    

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="tools float-left">
                <h3 class="card-title">Bets</h3>
            </div>
            <div class="tools float-right">
                <a href="/admin/bets"><button type="button" class="btn btn-sm btn-round {% if status is None %}btn-primary{% else %}btn-info{% endif %}">
                    All
                    </button></a>
                <a href="/admin/bets?status=1&is_active=1"><button type="button" class="btn btn-sm btn-round {% if status == 1 and is_active == 1 %}btn-primary{% else %}btn-info{% endif %}">
                    Active
                </button></a>
                <a href="/admin/bets?status=1&is_opened=1"><button type="button" class="btn btn-sm btn-round {% if status == 1 and is_opened == 1 %}btn-primary{% else %}btn-info{% endif %}">
                  Opened
                </button></a>
                <a href="/admin/bets?status=1&is_opened=0"><button type="button" class="btn btn-sm btn-round {% if status == 1 and is_opened == 0 %}btn-primary{% else %}btn-info{% endif %}">
                  Passed
                </button></a>
                <a href="/admin/bets?status=0"><button type="button" class="btn btn-sm btn-round {% if status == 0 %}btn-primary{% else %}btn-info{% endif %}">
                    Deactive
                </button></a>
            </div>
          </div>
          <div class="card-body">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th>No</th>
                    <th class="text-center">Owner</th>
                    <th class="text-center">Artist1</th>
                    <th class="text-center">Artist2</th>
                    <th class="text-center">Open Time</th>
                    <th class="text-center">Active Time</th>
                    <th class="text-center">Bet Option</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">More Detail</th>
                  </tr>
                </thead>
                <tbody>
                  {% for bet in bets %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td class="text-center">
                      <a href='/admin/reports/user/{{ bet.creator.user.pk }}'>
                        <div class="photo">
                          <img src="{% if bet.creator.photo == null %}/static/assets/img/default-avatar.png{% else %}{{ bet.creator.photo }}{% endif %}" alt="photo">
                        </div>
                      </a>
                      <h5>{{ bet.creator.user.username }}</h5>
                    </td>
                    <td class="text-center">
                      <div class="photo">
                        <img src="{% if bet.artist1.image_url == null %}/static/assets/img/default-avatar.png{% else %}{{ bet.artist1.image_url }}{% endif %}" alt="photo">
                      </div>
                      <h5>{{ bet.artist1.name }}</h5>
                    </td>
                    <td class="text-center">
                      <div class="photo">
                        <img src="{% if bet.artist2.image_url == null %}/static/assets/img/default-avatar.png{% else %}{{ bet.artist2.image_url }}{% endif %}" alt="photo">
                      </div>
                      <h5>{{ bet.artist2.name }}</h5>
                    </td>
                    <td class="text-center">
                        {{ bet.time_remained}}
                    </td>
                    <td class="text-center">
                        {{ bet.active_period }}
                    </td>
                    <td class="text-center">
                      {% if bet.bet_option == 1 %}
                        Who will be more popular this week?
                      {% else %}
                        Who will get more increase in streams this week?
                      {% endif %}
                    </td>
                    <td class="text-center">
                      {% if bet.is_active %}
                        {% if bet.status == 1 %}
                          <button class="btn btn-danger btn-sm change-bet-status" status=0 bet_id={{ bet.pk }}>Deactivate</button>
                        {% else %}
                          <button class="btn btn-primary btn-sm change-bet-status" status=1 bet_id={{ bet.pk }}>Activate</button>
                        {% endif %}
                      {% else %}
                        {% if bet.winner_artist == bet.artist1.pk %}
                          <div class="photo">
                            <img src="{% if bet.artist1.image_url == null %}/static/assets/img/default-avatar.png{% else %}{{ bet.artist1.image_url }}{% endif %}" alt="photo">
                          </div>
                          <h5>{{ bet.artist1.name }}</h5>
                        {% elif bet.winner_artist == bet.artist2.pk %}
                          <div class="photo">
                            <img src="{% if bet.artist2.image_url == null %}/static/assets/img/default-avatar.png{% else %}{{ bet.artist2.image_url }}{% endif %}" alt="photo">
                          </div>
                          <h5>{{ bet.artist2.name }}</h5>
                        {% else %}
                          <h5>Tied</h5>
                        {% endif %}
                      {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="/admin/bet/{{ bet.pk }}"><button class="btn btn-icon btn-info btn-round btn-sm">
                            <i class="tim-icons icon-minimal-right"></i>
                        </button></a>
                        <!-- <button class="btn btn-icon btn-danger btn-round btn-sm" onclick="UserDelete('{{ user.pk }}')">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button> -->
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <ul class="pagination page-center">
                {% if bets.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1&status={{ status }}&is_active={{ is_active }}&is_opened={{ is_opened }}" aria-label="Previous">
                            first
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ bets.previous_page_number }}&status={{ status }}&is_active={{ is_active }}&is_opened={{ is_opened }}" aria-label="Previous">
                            <span aria-hidden="true"><i class="tim-icons icon-double-left" aria-hidden="true"></i></span>
                        </a>
                    </li>
                {% endif %}
                {% for num in bets.paginator.page_range %}
                    {% ifequal num bets.number %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{num}}&status={{ status }}&is_active={{ is_active }}&is_opened={{ is_opened }}">{{ num }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{num}}&status={{ status }}&is_active={{ is_active }}&is_opened={{ is_opened }}">{{ num }}</a>
                        </li>
                    {% endifequal %} 
                {% endfor %}
                {% if bets.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ bets.next_page_number }}&status={{ status }}&is_active={{ is_active }}&is_opened={{ is_opened }}" aria-label="Next">
                            <span aria-hidden="true"><i class="tim-icons icon-double-right" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ bets.paginator.num_pages }}&status={{ status }}&is_active={{ is_active }}&is_opened={{ is_opened }}" aria-label="Next">
                            last
                        </a>
                    </li>
                {% endif %}
              </ul>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
    })
    bet_update = "{% url 'admin/bets' %}"
    $(document).ready(function() {
      bet_tie_untie = ['{{ info.untie }}', '{{ info.tie }}']
      bet_winner_loser = ['{{ info.loser }}', '{{ info.winner }}', '{{ info.tier }}']
      bet_active_detactive = ['{{ info.active }}', '{{ info.total }}'-'{{info.active}}'-'{{info.deactive}}', '{{ info.deactive }}']
      initChartPageCharts(bet_tie_untie, bet_winner_loser, bet_active_detactive);
    });
    function initChartPageCharts(tie, winner, active) {
      var ctx = document.getElementById("BetChart").getContext("2d");

      var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: ['UnTie', 'Tie'],
          datasets: [{
            label: "Emails",
            pointRadius: 0,
            pointHoverRadius: 0,
            backgroundColor: ['#00c09d', 'grey'],
            borderWidth: 0,
            data: tie
          }]
        },
        options: {
          cutoutPercentage: 70,
          legend: {
            display: false
          },

          tooltips: {
            backgroundColor: '#f5f5f5',
            titleFontColor: '#333',
            bodyFontColor: '#666',
            bodySpacing: 4,
            xPadding: 12,
            mode: "nearest",
            intersect: 0,
            position: "nearest"
          },

          scales: {
            yAxes: [{
              display: 0,
              ticks: {
                display: false
              },
              gridLines: {
                drawBorder: false,
                zeroLineColor: "transparent",
                color: 'rgba(255,255,255,0.05)'
              }

            }],

            xAxes: [{
              display: 0,
              barPercentage: 1.6,
              gridLines: {
                drawBorder: false,
                color: 'rgba(255,255,255,0.1)',
                zeroLineColor: "transparent"
              },
              ticks: {
                display: false,
              }
            }]
          },
        }
      });

      var ctx = document.getElementById("BetUserChart").getContext("2d");

      var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: ['Losers', 'Winners', 'Tiers'],
          datasets: [{
            label: "Emails",
            pointRadius: 0,
            pointHoverRadius: 0,
            backgroundColor: ['#ff8779', '#2a84e9', '#e2e2e2'],
            borderWidth: 0,
            data: winner
          }]
        },
        options: {
          cutoutPercentage: 70,
          legend: {

            display: false
          },

          tooltips: {
            backgroundColor: '#f5f5f5',
            titleFontColor: '#333',
            bodyFontColor: '#666',
            bodySpacing: 4,
            xPadding: 12,
            mode: "nearest",
            intersect: 0,
            position: "nearest"
          },

          scales: {
            yAxes: [{
              display: 0,
              ticks: {
                display: false
              },
              gridLines: {
                drawBorder: false,
                zeroLineColor: "transparent",
                color: 'rgba(255,255,255,0.05)'
              }

            }],

            xAxes: [{
              display: 0,
              barPercentage: 1.6,
              gridLines: {
                drawBorder: false,
                color: 'rgba(255,255,255,0.1)',
                zeroLineColor: "transparent"
              },
              ticks: {
                display: false,
              }
            }]
          },
        }
      });

      var ctx = document.getElementById("ActiveChart").getContext("2d");

      var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: ['Active', 'Passed', 'Deactive'],
          datasets: [{
            label: "Emails",
            pointRadius: 0,
            pointHoverRadius: 0,
            backgroundColor: ['blue', 'grey', 'yellow'],
            borderWidth: 0,
            data: active
          }]
        },
        options: {
          cutoutPercentage: 70,
          legend: {

            display: false
          },

          tooltips: {
            backgroundColor: '#f5f5f5',
            titleFontColor: '#333',
            bodyFontColor: '#666',
            bodySpacing: 4,
            xPadding: 12,
            mode: "nearest",
            intersect: 0,
            position: "nearest"
          },

          scales: {
            yAxes: [{
              display: 0,
              ticks: {
                display: false
              },
              gridLines: {
                drawBorder: false,
                zeroLineColor: "transparent",
                color: 'rgba(255,255,255,0.05)'
              }

            }],

            xAxes: [{
              display: 0,
              barPercentage: 1.6,
              gridLines: {
                drawBorder: false,
                color: 'rgba(255,255,255,0.1)',
                zeroLineColor: "transparent"
              },
              ticks: {
                display: false,
              }
            }]
          },
        }
      });
    }
  </script>

{% endblock javascripts %}
