{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category">Total Shipments</h5>
                <h2 class="card-title">Monthly Info</h2>
              </div>
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple active" id="0">
                    <input type="radio" name="options" checked>
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Users</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-single-02"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="1">
                    <input type="radio" class="d-none d-sm-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Bets</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-gift-2"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="2">
                    <input type="radio" class="d-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Profits</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-tap-02"></i>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartBig1"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-lg-3 col-md-6">
        <div class="card card-stats">
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <div class="info-icon text-center icon-warning">
                  <i class="tim-icons icon-coins"></i>
                </div>
              </div>
              <div class="col-9">
                <div class="numbers">
                  <p class="card-category">Profits</p>
                  <h3 class="card-title">{% if bet_chip_info.length == 0 %}0{% else %}{{bet_chip_info.0.total_profits}} chips{% endif %}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <a href='/admin/sales'>
              <div class="stats">
                <i class="tim-icons icon-refresh-01"></i> Go to Detail
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card card-stats">
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <div class="info-icon text-center icon-primary">
                  <i class="tim-icons icon-shape-star"></i>
                </div>
              </div>
              <div class="col-7">
                <div class="numbers">
                  <p class="card-category">Wagers</p>
                  <h3 class="card-title">{% if bet_chip_info.length == 0 %}0{% else %}{{bet_chip_info.0.total_wagers}} chips{% endif %}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <a href='/admin/sales'>
              <div class="stats">
                <i class="tim-icons icon-refresh-01"></i> Go to Detail
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card card-stats">
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <div class="info-icon text-center icon-success">
                  <i class="tim-icons icon-single-02"></i>
                </div>
              </div>
              <div class="col-7">
                <div class="numbers">
                  <p class="card-category">Users</p>
                  <h3 class="card-title">{% if user_info.length == 0 %}0{% else %}{{user_info.0.total_users}}{% endif %}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <a href='/admin/users'>
              <div class="stats">
                <i class="tim-icons icon-refresh-01"></i> Go to Detail
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card card-stats">
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <div class="info-icon text-center icon-danger">
                  <i class="tim-icons icon-molecule-40"></i>
                </div>
              </div>
              <div class="col-7">
                <div class="numbers">
                  <p class="card-category">Bets</p>
                  <h3 class="card-title">{% if bet_info.length == 0 %}0{% else %}{{bet_info.0.total_bets}}{% endif %}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <a href='/admin/bets'>
              <div class="stats">
                <i class="tim-icons icon-refresh-01"></i> Go to Detail
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div class="card">
          <div class="card-header">
            <!-- <div class="tools float-right">
              <div class="dropdown">
                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                  <i class="tim-icons icon-settings-gear-63"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#pablo">Action</a>
                  <a class="dropdown-item" href="#pablo">Another action</a>
                  <a class="dropdown-item" href="#pablo">Something else</a>
                  <a class="dropdown-item text-danger" href="#pablo">Remove Data</a>
                </div>
              </div>
            </div> -->
            <h5 class="card-title">Top Users</h5>
          </div>
          <div class="card-body">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th class="text-center">#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Exp</th>
                    <th>Chip</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in top_users %}
                  <tr>
                    <td class="text-center">
                      <a href='/admin/reports/user/{{ user.user.pk }}'>
                        <div class="photo">
                          <img src="{% if user.photo == null %}/static/assets/img/default-avatar.png{% else %}{{ user.photo }}{% endif %}" alt="photo">
                        </div>
                      </a>
                    </td>
                    <td>{{ user.user.username }}</td>
                    <td>{{ user.user.email }}</td>
                    <td>{{ user.exp }}</td>
                    <td>{{ user.chip }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Recent Bets</h5>
          </div>
          <div class="card-body">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th class="text-center">Owner</th>
                    <th>Name</th>
                    <th class="text-center">Artist 1</th>
                    <th class="text-center">Artist 2</th>
                    <th>Bet users</th>
                    <th>Open Time</th>
                  </tr>
                </thead>
                <tbody>
                  {% for bet in recent_bets %}
                  <tr>
                    <td class="text-center">
                      <a href='/admin/bet/{{ bet.id }}'>
                        <div class="photo">
                          <img src="{% if bet.creator_photo != null %}{{ bet.creator_photo }}{% else %}/static/assets/img/default-avatar.png{% endif %}" alt="photo">
                        </div>
                      </a>
                    </td>
                    <td>{{ bet.creator_name }}</td>
                    <td class="text-center">
                      <div class="photo" data-toggle="tooltip" title="{{ bet.artist1_name }}">
                        <img src="{{ bet.artist1_photo }}" alt="photo">
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="photo" data-toggle="tooltip" title="{{ bet.artist2_name }}">
                        <img src="{{ bet.artist2_photo }}" alt="photo">
                      </div>
                    </td>
                    <td>{{ bet.bet_users }}</td>
                    <td>{{ bet.active_period }} hrs</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      var users_data = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
      var bets_data = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], profits_data = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
      "{% for userinfo in user_info %}"
        users_data['{{userinfo.month}}'-1] = '{{ userinfo.month_users }}'        
      "{% endfor %}"
      "{% for betinfo in bet_info %}"
        bets_data['{{betinfo.month}}'-1] = '{{ betinfo.month_bets }}'        
      "{% endfor %}"
      "{% for betchipinfo in bet_chip_info %}"
        profits_data['{{betchipinfo.month}}'-1] = '{{ betchipinfo.month_profits }}'        
      "{% endfor %}"
      initDashboardPageCharts(users_data, bets_data, profits_data);
    });
  </script>

  <script>
    function initDashboardPageCharts(u_data, b_data, p_data) {

      console.log(Math.max(...u_data))

      gradientChartOptionsConfigurationWithTooltipPurple = {
        maintainAspectRatio: false,
        legend: {
          display: false
        },

        tooltips: {
          backgroundColor: '#f5f5f5',
          titleFontColor: '#333',
          bodyFontColor: '#666',
          bodySpacing: 4,
          xPadding: 12,
          mode: "nearest",
          intersect: 0,
          position: "nearest"
        },
        responsive: true,
        scales: {
          yAxes: [{
            barPercentage: 1.6,
            gridLines: {
              drawBorder: false,
              color: 'rgba(29,140,248,0.0)',
              zeroLineColor: "transparent",
            },
            ticks: {
              suggestedMin: 60,
              suggestedMax: 125,
              max: Math.max(...u_data) + 1,
              padding: 20,
              fontColor: "#9a9a9a"
            }
          }],

          xAxes: [{
            barPercentage: 1.6,
            gridLines: {
              drawBorder: false,
              color: 'rgba(225,78,202,0.1)',
              zeroLineColor: "transparent",
            },
            ticks: {
              padding: 20,
              fontColor: "#9a9a9a"
            }
          }]
        }
      };

      var chart_labels = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
      var chart_data = u_data


      var ctx = document.getElementById("chartBig1").getContext('2d');

      var gradientStroke = ctx.createLinearGradient(0, 230, 0, 50);

      gradientStroke.addColorStop(1, 'rgba(72,72,176,0.1)');
      gradientStroke.addColorStop(0.4, 'rgba(72,72,176,0.0)');
      gradientStroke.addColorStop(0, 'rgba(119,52,169,0)'); //purple colors
      var config = {
        type: 'line',
        data: {
          labels: chart_labels,
          datasets: [{
            label: "User Data",
            fill: true,
            backgroundColor: gradientStroke,
            borderColor: '#d346b1',
            borderWidth: 2,
            borderDash: [],
            borderDashOffset: 0.0,
            pointBackgroundColor: '#d346b1',
            pointBorderColor: 'rgba(255,255,255,0)',
            pointHoverBackgroundColor: '#d346b1',
            pointBorderWidth: 20,
            pointHoverRadius: 4,
            pointHoverBorderWidth: 15,
            pointRadius: 4,
            data: chart_data,
          }]
        },
        options: gradientChartOptionsConfigurationWithTooltipPurple
      };
      var myChartData = new Chart(ctx, config);

      $("#0").click(function() {
        var data = myChartData.config;
        data.data.datasets[0].data = chart_data;
        data.data.labels = chart_labels;
        data.options.scales.yAxes[0].ticks.max = Math.max(...u_data) + 1
        myChartData.update();
      });

      $("#1").click(function() {
        var chart_data = b_data
        var data = myChartData.config;
        data.data.datasets[0].data = chart_data;
        data.data.datasets[0].label = 'Bet Data';
        data.data.labels = chart_labels;
        data.options.scales.yAxes[0].ticks.max = Math.max(...b_data) + 1
        myChartData.update();
      });

      $("#2").click(function() {
        var chart_data = p_data
        var data = myChartData.config;
        data.data.datasets[0].data = chart_data;
        data.data.datasets[0].label = 'Profits Data';
        data.data.labels = chart_labels;
        data.options.scales.yAxes[0].ticks.max = Math.max(...p_data) + 1
        myChartData.update();
      });

    }
  </script>

{% endblock javascripts %}
